.accordion-container {
	position: relative;
	max-width: 40rem;
	width: 100%;
	margin: 0 auto;
	padding: 0.8rem 0.25rem;
	border-bottom: 1px solid $light-black;

	.accordion-block-title {
		display: block;
		color: $light-black;
		font-weight: bold;
		font-family: $font-body;
		font-size: 1.2rem;
		margin-right: 3rem;

		&:hover { cursor: pointer; }

		// add + after heading
		&:after {
			content: '+';
			position: absolute;
			top: 1rem;
			right: 0.25rem;
			margin-left: 0.5rem;
			font-family: $font-body;
			font-size: 1.1rem;
			font-weight: bold;
			transition: 0.1s ease-in;
			@include bp(sm) { font-size: 1.35rem; }
		}
	}

	// rotate the + (class applied via js)
	.chevron-rotate:after {
		transform: rotate(45deg);
		transition: 0.1s ease-in;
	}
}