* { box-sizing: border-box; }
html { font-size: 16px; } // 16px = 1rem (base font setup)

html, body {
	// font antialiasing
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	line-height: 1.5;
	overflow-x: hidden;

	font-variant-numeric: lining-nums;
	-moz-font-feature-settings: "lnum" 1; // fallback for firefox (>70)
	-webkit-font-feature-settings: "lnum" 1; // fallback for chrome/edge/safari (>63)
	font-feature-settings: "lnum" 1; // new standard for browsers
}

// sitewide placeholder text
::placeholder {
	color: $light-black;
	opacity: 0.6;
	font-style: italic;
	font-size: 0.9375rem; // 15px
}

// base image setup - always keep aspect ratio intact by default
img {
	display: block; // removes white space below images
	max-width: 100%;
	height: auto;
}

// unset standard button styles
button {
	background: unset;
	border: unset;
	&:hover { cursor: pointer; }
}

// core site wrapper (core site content wrapper)
.main-post-wrapper {
	max-width: 100%;
	margin: 0 auto;
}

// default page content area
.content-block {
	max-width: 65rem; // 1040px
	margin: 2rem auto;
	padding: 1rem 1.5rem;
	@include bp(480px) { padding: 1rem 2.15rem; }

	p {
		max-width: 50rem;
		margin: 0 auto 1.25rem;

		a {
			font-weight: bold;
			text-decoration: underline;
			text-underline-offset: 2px;
			color: $light-black;
			&:hover { color: $darken; }
		}
	}
}

// text meant only for screen readers
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}