// pull any block to the edges of the screen (outside the content block)
.full-width {
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin: 3rem -50vw;
}

div.facetwp-facet {
	margin-bottom: 0;
}

.facetwp-counter {
	display: none;
}