// facetwp loader gif
.is-loading {
	&__icon {
		display: block;
		width: 3.5rem;
		height: 3.5rem;
		background: url('assets/media/basic-loading-icon.gif');
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		text-align: center;
		margin: 2.5rem auto;
		padding: 1rem;
		transition: 0.1s ease-in;
	}
}