// alert banner at top of page
.notice-banner {
	position: relative;
	padding: 1rem 2rem;
	max-width: 100%;
	@include bp(850px) { position: relative; }

	.close-notice {
		color: $white;
		position: absolute;
		top: 0.65rem;
		right: 2rem;
		font-size: 1.75rem;
		font-weight: bold;
	}

	p {
		color: $white;
		margin-top: 0;
		margin-bottom: 0;
		margin-right: 3.25rem;
		font-size: 1rem;
		font-weight: bold;
	}
}