.social-icon-component {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	margin: 1.25rem auto;
	padding: 1rem;

	.icon {
		max-width: 2.5rem;
		width: 100%;
		&:last-of-type { width: unset; } // prevents overflow on last item

		.fab, .fas, .far {
			width: 1.5rem;
			color: $light-black;
			font-size: 1.5rem;
			&:hover { color: $darken; }
		}
	}
}